---

---

<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<body>
    <h1>Crazy Stuff</h1>
    <h1>About Data in Tec</h1>
    <h2>... and my new Astro site!</h2>

    <p>Welcome to the blog page of my Astro site! Here, I will share my thoughts, experiences, and updates on various topics.</p>
    <p>Stay tuned for more posts as I continue to explore and learn with Astro!</p>
</body>