---
const pageTitle = "Home Page";
---
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width" />
	<title>Astro</title>
</head>
<body>
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<h1>{pageTitle}</h1>
<p>Welcome to the Astro home page!</p>
<p>Explore the links above to learn more about this site.</p>
<p>Astro is a modern static site generator that allows you to build fast, content-focused websites.</p>


</body>
</html>